html{
    box-sizing: border-box;
}

body{
    background-image: url("https://image.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    padding: 30px 0px 0px 0px;
}

h1{
    letter-spacing: 5px;
}

p{
    color: grey;
}

.crystalimage{
    width: 180px;
    margin: 30px auto;
    padding: 10px 0px 10px 0px;
}

.score{
    color: black;
}